<!DOCTYPE html>
<html>
<head>
  <%- include('template/head') %>
</head>
  <%- include('template/navbar') %>

  <div class="container mt-3" >
    <% if (errorMessage.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= errorMessage %>
    </div>
    <% } %>
    
    <% if(username) { %>
    <form method="POST" action="/comments" class="mb-3">
      <div class="form-group">
        <div class="text-dark" style="margin-bottom: 1rem; font-size: large;">留言內容</div>
        <textarea name="content" class="form-control"  style="height: 10rem;"></textarea>
      </div>
      <button type="submit" class="btn btn-dark">提交</button>
    </form>
    <% } else { %>
      <div class="alert alert-warning" role="alert">留言請先登入</div>
    <% } %>

    <div class="card-container d-flex justify-content-around flex-wrap" style="width: 100%;">
      <% comments.forEach(function(comment) { %>
        <div class="card mb-2" style="width: 22rem; height: 18rem; ">
          <div class="card-header">
            <div class="card-top d-flex justify-content-between">
              <h5 class="card-title"><%= comment.User.nickname %></h5>
              <div class="card-btn">
                <% if (username === comment.User.username) {%>
                <a href="/update_comments/<%= comment.id %>" class="card-link">編輯</a>
                <a href="/delete_comments/<%= comment.id %>" class="card-link">刪除</a>
                <% } %>
              </div>
            </div>
            <p class="card-subtitle text-muted"><%= moment(comment.createdAt).format(shortDateFormat) %></p>
          </div>
          <div class="card-body" style="overflow:scroll; overflow-x:hidden; white-space: pre-line;  word-wrap:break-word;">
            <p class="card-text" ><%= comment.content %></p>
          </div>
        </div>
      <% }) %>
    </div>

  </div>
</html>
